# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr

# Environment
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!frontend/.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vite
vite.config.ts.timestamp-*

# Models
backend/data/category/rubert_tiny2_onnx/model.onnx
backend/data/sentiment/rubert_tiny2_onnx/model.onnx
backend/test_models/model/transformer/model.safetensors